{% extends 'base.html.twig' %}

{% block body %}
{#    {{ dump(form.children[0].products.vars.data[0].name) }}#}
    {{ form_start(form) }}
    {% for sale in form.children %}
        {% if sale is not empty %}
            <div>
                {{ sale.children['products'].vars.data[0].name }}
                {{ form_widget(sale.children['products'], { 'attr': {'hidden': true} }) }}
                {{ form_widget(sale.children['count']) }}
            </div>
        {% endif %}
    {% endfor %}
    <button class="btn btn-outline-success" type="submit">Passer au paiement</button>
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}

{#{{ form.children[0].products.vars.data[0].name }}#}
{#{{ form_widget(form.children[0].count) }}#}