{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    {{ dump(app.session.get('cart')) }}
    <div class="row row-cols-sm-1 row-cols-md-3">
        {% for product in products %}
            <div class="card col-sm-12 col-md-3 m-1 p-2">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5><hr>
                    <h5 class="card-title">{{ product.price | format_currency('EUR') }}</h5><hr>
                    <p class="card-text">{{ product.description }}</p>
                    <a href="{{ path('product_show', {'id': product.id}) }}" class="btn btn-outline-info">Voir la fiche</a>
                </div>
            </div>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
    </div>
{% endblock %}
