{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}Product{% endtrans %}
{% endblock %}

{% block body %}
    <a href="{{ path('product_index') }}" class="btn btn-outline-info mb-2">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        <span>
            {% trans %}Retour à l'accueil{% endtrans %}
        </span>
    </a>
    <div class="row row-cols-md-2">
        <div class="">
            <img src='https://picsum.photos/id/{{ product.id }}/550/400' class="h-auto d-inline-block" alt="...">
        </div>
        <div class="d-flex flex-column">
            <h1>{{ product.name }}</h1>
            <hr>
            <h3>{% trans %}Prix TTC{% endtrans %} : <span class="badge badge-pill badge-info" >{{ product.price| format_currency('EUR', [], 'fr') }}</span></h3>
            <hr>
            <h6>{% trans %}Description{% endtrans %} : {{ product.description }}</h6>
            <hr>

            <div class="">
                {{ form_start(form, { 'attr': {'class': 'form-inline d-flex flex-row justify-content-end'} }) }}
                <span class="mr-2">{% trans %}Quantité{% endtrans %} : </span>
                <span>{{ form_widget(form.count, { 'attr': {'class': 'form-control'} }) }}</span>
                <button class="btn btn-outline-info ml-2" type="submit">{% trans %}Ajouter au panier{% endtrans %}</button>
                {{ form_widget(form.product, { 'attr': {'hidden': true} }) }}
            </div>
            {{ form_end(form, {'render_rest': false}) }}

        </div>
    </div>



    {#    <a href="{{ path('cart_add', {'id': product.id}) }}" class="btn btn-outline-info mt-2">Ajouter au panier</a>#}

{% endblock %}
