{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <a href="{{ path('product_index') }}" class="btn btn-outline-info">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        <span>Retour à l'accueil</span>
    </a>
    <h1>Product</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ product.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ product.name }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ product.description }}</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>{{ product.price }}</td>
        </tr>
        </tbody>
    </table>

    {{ form_start(form) }}
        <div>
            <span>Quantité : </span> {{ form_widget(form.count) }}
            {{ form_widget(form.product, { 'attr': {'hidden': true} }) }}
        </div>
        <button class="btn btn-outline-info mt-2" type="submit">Ajouter au panier</button>
    {{ form_end(form, {'render_rest': false}) }}

    {#    <a href="{{ path('cart_add', {'id': product.id}) }}" class="btn btn-outline-info mt-2">Ajouter au panier</a>#}

{% endblock %}
